head
  title Facelivre
  link(href='https://fonts.googleapis.com/css?family=ABeeZee:400,400italic' rel='stylesheet' type='text/css')
  meta(name="viewport" content="width=device-width, user-scalable=no initial-scale=1 maximum-scale=1")

body
