@import '{}/client/lib/compatibility/variables.css.sass'

#status_form
  position: fixed
  bottom: 0
  left: 0
  height: $status-form-height
  width: calc(100% - 250px + 2px)
  box-shadow: 0 -2px 5px rgba(0, 0, 0, .2)
  background-color: #FFF
