@import '{}/client/lib/compatibility/variables.css.sass'

$break-sm: 768px
$break-md: 992px
$break-lg: 1200px

.friends_list_wrapper
  font-family: 'ABeeZee'
  font-size: 14px
  position: fixed
  height: 100%
  top: 0
  right: 0
  width: $friends-list-width
  margin-top: 41px
  background-color: #FFF
  box-shadow: 0 0 10px rgba(0, 0, 0, .3)

  .friends_list
    margin: 0
    padding: 25px 0 0 0

    li
      line-height: 16px
      list-style: none
      position: relative

      .ribbon
        position: absolute
        left: -5px
        top: -5px
        z-index: 1
        overflow: hidden
        width: 50px
        height: 50px
        text-align: right

        span
          font-size: 10px
          font-weight: bold
          color: #FFF
          text-transform: uppercase
          text-align: center
          line-height: 20px
          transform: rotate(-45deg)
          -webkit-transform: rotate(-45deg)
          width: 75px
          display: block
          background: #79A70A
          background: linear-gradient(#F70505 0%, #8F0808 100%)
          box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1)
          position: absolute
          top: 9px
          left: -21px

          &:before
            content: ""
            position: absolute
            left: 0px
            top: 100%
            z-index: -1
            border-left: 3px solid #8F0808
            border-right: 3px solid transparent
            border-bottom: 3px solid transparent
            border-top: 3px solid #8F0808

          &:after
            content: ""
            position: absolute
            right: 0px
            top: 100%
            z-index: -1
            border-left: 3px solid transparent
            border-right: 3px solid #8F0808
            border-bottom: 3px solid transparent
            border-top: 3px solid #8F0808

      &.active
        background-color: #F3FDFF
        border-left: 4px solid #2BA4DD

        a
          color: #00A9FF !important
          padding-left: $friend-padding-x - 4px

          .friend_image_wrapper:before
            background-color: #F3FDFF

      a
        height: $friend-height
        padding: $friend-padding
        display: block
        text-decoration: none
        color: #1D2538

        .friend_image_wrapper
          width: $friend-image-dims
          height: $friend-image-dims
          float: left
          margin-right: $friend-padding-x
          position: relative

          .friend_image
            width: $friend-image-dims
            height: $friend-image-dims
            display: block
            border-radius: 50%

          &:before
            content: ''
            display: block
            position: absolute
            background-color: #FFF
            width: 20px
            height: 20px
            border-radius: 50%
            bottom: -5px
            right: 5px

          &:after
            content: ''
            display: block
            position: absolute
            width: 10px
            height: 10px
            border-radius: 50%
            bottom: 0
            right: 10px

          &.offline
            &:after
              background-color: #999

          &.idle
            &:after
              background-color: #FF7300

          &.online
            &:after
              background-color: #57C76B

        .friend_name
          line-height: $friend-height - $friend-padding-y * 2
          overflow: hidden
          text-overflow: ellipsis
          white-space: nowrap
          max-width: $friend-name-max-width
          float: left
