@import '{}/client/lib/compatibility/variables.css.sass'

body
  background-color: $grey-background

.news_feed_container
  margin-top: 41px
  padding-right: 250px + 15px // FriendsList + default padding
  padding-top: 12px
  padding-bottom: $status-form-height

.page_overlay
  position: fixed
  top:    0
  bottom: 0
  left:   0
  right:  0

  background: transparent

img.emoji
  font-size: inherit
  height: 2.7ex
  // prevent img stretch
  width: auto
  min-width: 15px
  min-height: 15px

  // Inline alignment adjust the margins
  display: inline-block
  margin: -0.4ex .15em 0
  line-height: normal
  vertical-align: middle
