@import '{}/client/lib/compatibility/functions.css.sass'
@import '{}/client/lib/compatibility/variables.css.sass'

.news_feed_container
  // margin-left: $sidebar-min-width
  +transition(all 0.5s ease)

  .sidebar_wrapper
    z-index: 1
    position: fixed
    left: 0
    // width: $sidebar-min-width
    height: 100%
    top: $navbar-height
    overflow-y: auto
    background-color: $sidebar-bg-color
    +transition(all 0.5s ease)

    &:hover
      // width: $sidebar-full-width
      // box-shadow: 5px 0 15px rgba(0, 0, 0, .3)

    .sidebar
      position: absolute
      top: 0
      width: 100%
      margin: 0
      padding: 0
      list-style: none

      li
        height: $sidebar-link-height
        color: #77848D
        display: table
        width: 100%
        position: relative

        &.active, &:hover
          a
            color: $sidebar-active-color
            background: $sidebar-active-bg-color

        &.active
          &:after
            content: ''
            display: block
            +border-radius(4px)
            width: 40px
            height: 40px
            background-color: $grey-background
            +transform(rotate(45deg))
            position: absolute
            right: -30px
            top: 50%
            margin-top: -20px

        a
          display: table-cell
          vertical-align: middle
          text-decoration: none
          color: #999
          font-size: 16px
          text-align: center

          &:focus, &:active
            text-decoration: none

          i
            display: block
            font-size: 26px
            margin-bottom: 5px

  &.toggled
    padding-left: 15px + $sidebar-min-width

    .sidebar_wrapper
      // width: $sidebar-full-width
